In [59]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [93]:
train = pd.read_csv('../dataset/C01-Predict_Upvote/train_NIR5Yl1.csv')
test = pd.read_csv('../dataset/C01-Predict_Upvote/test_8i3B3FC.csv')

In [5]:
train.head()

       ID Tag  Reputation  Answers  Username    Views  Upvotes
0   52664   a      3942.0      2.0    155623   7855.0     42.0
1  327662   a     26046.0     12.0     21781  55801.0   1175.0
2  468453   c      1358.0      4.0     56177   8067.0     60.0
3   96996   a       264.0      3.0    168793  27064.0      9.0
4  131465   c      4271.0      4.0    112223  13986.0     83.0

In [6]:
print(train.describe())

                  ID    Reputation        Answers       Username  \
count  330045.000000  3.300450e+05  330045.000000  330045.000000
mean   235748.682789  7.773147e+03       3.917672   81442.888803
std    136039.418471  2.706141e+04       3.579515   49215.100730
min         1.000000  0.000000e+00       0.000000       0.000000
25%    117909.000000  2.820000e+02       2.000000   39808.000000
50%    235699.000000  1.236000e+03       3.000000   79010.000000
75%    353620.000000  5.118000e+03       5.000000  122559.000000
max    471493.000000  1.042428e+06      76.000000  175738.000000

              Views        Upvotes
count  3.300450e+05  330045.000000
mean   2.964507e+04     337.505358
std    8.095646e+04    3592.441135
min    9.000000e+00       0.000000
25%    2.594000e+03       8.000000
50%    8.954000e+03      28.000000
75%    2.687000e+04     107.000000
max    5.231058e+06  615278.000000

In [13]:
meta_feature1 = train['Username'].value_counts().to_dict()
meta_feature2 = train['Tag'].value_counts().to_dict()
mf1_ = [meta_feature1[x] for x in train['Username']]
mf2_ = [meta_feature2[x] for x in train['Tag']]
train['User_Count_Meta'] = mf1_
train['Tag_Count_Meta'] = mf2_

In [47]:
train.head()

,ID,Reputation,Answers,Username,Views,Upvotes,User_Count_Meta,Tag_Count_Meta,Tag_a,Tag_c,Tag_h,Tag_i,Tag_j,Tag_o,Tag_p,Tag_r,Tag_s,Tag_x
0,52664,3942.0,2.0,155623,7855.0,42.0,19,31695,1,0,0,0,0,0,0,0,0,0
1,327662,26046.0,12.0,21781,55801.0,1175.0,2,31695,1,0,0,0,0,0,0,0,0,0
2,468453,1358.0,4.0,56177,8067.0,60.0,1,72458,0,1,0,0,0,0,0,0,0,0
3,96996,264.0,3.0,168793,27064.0,9.0,3,31695,1,0,0,0,0,0,0,0,0,0
4,131465,4271.0,4.0,112223,13986.0,83.0,3,72458,0,1,0,0,0,0,0,0,0,0

In [38]:
y = pd.get_dummies(train.Tag, prefix='Tag')
for x in y.columns:
    train[x] = y[x]

In [46]:
train = train.drop(columns='Tag')

In [52]:
y = train.loc[:,'Upvotes']

In [54]:
X = train.drop(columns=['ID','Upvotes'])

In [60]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [67]:
regr = RandomForestRegressor()

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [68]:
print(regr.feature_importances_)

[5.60857153e-01 1.10812245e-02 2.51048047e-02 3.73546079e-01
 1.49087913e-02 4.56967633e-03 3.19677669e-03 1.10760770e-03
 1.08245379e-03 4.39537671e-05 1.89049036e-03 4.24183927e-05
 2.38164384e-03 7.48541496e-06 1.45175111e-04 3.42666457e-05]

In [70]:
regr.fit(X,y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [71]:
print(regr.feature_importances_)

[5.99168708e-01 1.19532633e-02 1.25403547e-02 3.47098965e-01
 1.36018594e-02 4.24313289e-03 3.05287761e-03 2.50760783e-03
 1.31243575e-03 4.76240101e-05 3.09093997e-03 3.34433668e-05
 1.10594564e-03 4.59752023e-06 2.04199116e-04 3.40454301e-05]

In [94]:
mf1_ = [meta_feature1[x] if x in meta_feature1.keys() else 0 for x in test['Username']]
mf2_ = [meta_feature2[x] for x in test['Tag']]
test['User_Count_Meta'] = mf1_
test['Tag_Count_Meta'] = mf2_

In [95]:
ty = pd.get_dummies(test.Tag, prefix='Tag')
for x in ty.columns:
    test[x] = ty[x]

In [96]:
test_ID = test.loc[:,'ID']
test1 = test.drop(columns=['Tag','ID'])

In [99]:
a = regr.predict(test1)

In [87]:
sample = pd.read_csv('../dataset/C01-Predict_Upvote/sample_submission_OR5kZa5.csv')

In [98]:
test_ID.shape

(141449,)

In [107]:
preds = pd.DataFrame(a, columns=['Upvotes'])

In [117]:
preds['ID'] = test['ID']

In [118]:
preds.shape

(141448, 2)

In [119]:
preds

        Upvotes      ID
0        254.53  366953
1         73.51   71864
2         26.35  141692
3         19.22  316833
4        352.41  440445
...         ...     ...
141443    30.82   47187
141444   189.29  329126
141445    60.05  282334
141446    14.61  386629
141447    21.27  107271

[141448 rows x 2 columns]

In [120]:
cols = preds.columns.tolist()
cols = cols[-1:] + cols[:-1]
preds1 = preds[cols]

In [126]:
preds1.to_csv('sol1.csv',index=False)