In [1]:
import pandas as pd
import numpy as np
import

In [3]:
train = pd.read_csv('../dataset/C01-Predict_Upvote/train_NIR5Yl1.csv')
test = pd.read_csv('../dataset/C01-Predict_Upvote/test_8i3B3FC.csv')

In [5]:
train.head()

       ID Tag  Reputation  Answers  Username    Views  Upvotes
0   52664   a      3942.0      2.0    155623   7855.0     42.0
1  327662   a     26046.0     12.0     21781  55801.0   1175.0
2  468453   c      1358.0      4.0     56177   8067.0     60.0
3   96996   a       264.0      3.0    168793  27064.0      9.0
4  131465   c      4271.0      4.0    112223  13986.0     83.0

In [6]:
print(train.describe())

                  ID    Reputation        Answers       Username  \
count  330045.000000  3.300450e+05  330045.000000  330045.000000
mean   235748.682789  7.773147e+03       3.917672   81442.888803
std    136039.418471  2.706141e+04       3.579515   49215.100730
min         1.000000  0.000000e+00       0.000000       0.000000
25%    117909.000000  2.820000e+02       2.000000   39808.000000
50%    235699.000000  1.236000e+03       3.000000   79010.000000
75%    353620.000000  5.118000e+03       5.000000  122559.000000
max    471493.000000  1.042428e+06      76.000000  175738.000000

              Views        Upvotes
count  3.300450e+05  330045.000000
mean   2.964507e+04     337.505358
std    8.095646e+04    3592.441135
min    9.000000e+00       0.000000
25%    2.594000e+03       8.000000
50%    8.954000e+03      28.000000
75%    2.687000e+04     107.000000
max    5.231058e+06  615278.000000

In [13]:
meta_feature1 = train['Username'].value_counts().to_dict()

In [14]:
meta_feature2 = train['Tag'].value_counts().to_dict()